@model MvcOnlineTicariOtomasyon.Models.Siniflar.Departman
@{
    ViewBag.Title = "DepartmanGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2 style="text-align:center;">Departman Güncelle</h2>
<br />

@using (Html.BeginForm("DepartmanGuncelle","Departman",FormMethod.Post, new {@class="form-group"}))
            {
                @Html.HiddenFor(x=>x.Departmanid)
                @Html.Label("Departman Adı")
                @Html.TextBoxFor(x=>x.DepartmanAd, new  {@class="form-control", style="width:30%;"})
                <br />
                <button class="btn btn-warning">Güncelle</button>
                
            }
